{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Docker Manager" %}{% endblock %}

{% block page_header %}
    {% include "horizon/common/_page_header.html" with title=_("Auto Scaling") %}
{% endblock page_header %}

{% block main %}
	<h1>Usage</h1>
	<div class="row">
		<div class="col-md-2">
				<form method="GET" action="">
					<div class="input-group">
						<select class="form-control" name="vm">
						{% for vm in vm_list %}
							<option value="{{vm.id}}" {% if vm.id == current_vm %}selected="selected"{% endif %}>{{vm.name}}</option>
						{% endfor %}
						</select>
						<div class="input-group-btn">
							<button class="btn btn-default">{% trans "Filter" %}</button>
						</div>
					</div>
				</form>
		</div>
	</div>

	 {% include "container/autoscaling/_auto_scaling_metric_chart.html" %}

    {{ table.render }}
{% endblock %}